.feature-box {
    background-color: rgba($white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 5rem rgba($purple, 1);
    transition: all 1.3s;
    color: $black;
    border: 2px solid $black;

    &:hover{
    transform: translateY(-4.5rem);
    }

    &__icon {
        margin-bottom: 2rem;
    }
}

.feature-box:hover .feature-box__icon {
    color: rgba(100, 255, 218, 1);
}